
name: Build Docs
on:
  push:
    branches:
    - master
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - uses: actions/cache@v4
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-docs

      - name: Install Flit
        if: steps.cache.outputs.cache-hit != 'true'
        run: python3.8 -m pip install flit

      - name: Install docs extras
        if: steps.cache.outputs.cache-hit != 'true'
        run: python3.8 -m flit install --extras doc

      - name: Build Docs
        run: python3.8 ./scripts/docs.py build-all

      - name: Zip docs
        run: bash ./scripts/zip-docs.sh
      - uses: actions/upload-artifact@v4
        with:
          name: docs-zip
          path: ./docs.zip

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.1.0
        with:
          publish-dir: './site'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

